* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: #ecf2f8;
}

#main-container {
    padding: 5% 5%;
}

.card-header {
    display: flex;
    margin-bottom: 25px;
    position: relative;
    z-index: 3;
}

.card-header img {
    border-radius: 50%;
    margin-right: 15px;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
}

#quote {
    position: absolute;
    right: 10%;
    top: 0 ;
    z-index: 1;
}  

#card-1 {
    background-color: #7541c8;
    color: white;
    position: relative;
    z-index: 3;
}

#card-2 {
    background-color: #48556a;
    color: white;
}

#card-3 {
    background-color: #ffffff;
}

#card-4 {
    background-color: #19212e;
    color: white;
}

#card-5 {
    background-color: #ffffff;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.grid-item p {
    font-weight: 500;
    opacity: 70%;
}

.name p {
    opacity: 100%;
}


@media (min-width: 576px) {
    #main-container,
    #left-part,
    #top-section,
    #bottom-section  {
        display: flex;
    }

    #main-container {
        max-width: 1440px;
    }

    #left-part {
        flex-direction: column;
        flex-basis: 80%;
    }

    #card-1, #card-4  {
        flex-basis: 75%;
    }
    
    #card-2, #card-3 {
        flex-basis: 25%;
    }

    #card-5 {
        flex-basis: 20%;
    }

    #left-part .grid-item {
        margin-right: 20px;
    }
}
